/* Reset global */
/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1E1E1E; /* Fondo principal negro */
  color: #FFFFFF; /* Texto blanco */
  line-height: 1.6;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFCC00; /* Amarillo */
  padding: 15px 20px;
}

header img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Navbar */
.navbar {
  background-color: #1E1E1E; /* Fondo oscuro elegante */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 10px; /* Bordes curvos */
  margin: 10px 20px; /* Espaciado alrededor del navbar */
  padding: 10px; /* Espaciado interno */
}

.navbar-brand {
  font-size: 1.8rem;
  color: #FFCC00; /* Amarillo */
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-brand:hover {
  color: #FFFFFF; /* Blanco */
}

.nav-link {
  color: #ECF0F1; /* Gris claro */
  font-size: 1.1rem;
  margin: 0 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #FFCC00; /* Amarillo en hover */
  transform: scale(1.1); /* Efecto zoom */
  border-bottom: 2px solid #FFCC00;
}

.navbar-toggler {
  border-color: #FFCC00; /* Amarillo para el botón de toggle */
  border-radius: 8px; /* Botón también con bordes curvos */
}

/* Main */
main {
  padding: 20px;
}

main h1,
main h2 {
  text-align: center;
  color: #FFCC00; /* Amarillo */
}

main .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

main .content .card {
  background-color: #333333; /* Gris oscuro */
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

main .content .card h3 {
  color: #FFCC00;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #1E1E1E; /* Negro */
}

footer a {
  margin: 0 10px;
  color: #ECF0F1; /* Gris claro */
  text-decoration: none;
  transition: transform 0.3s ease;
}

footer a:hover {
  transform: translateY(-5px);
  color: #FFCC00; /* Amarillo */
}

footer img {
  width: 25px;
  height: auto;
}

/* Responsividad */
@media (max-width: 768px) {
  .hero-image {
      max-height: 250px; /* Reducción en móviles */
  }

  main .content {
      flex-direction: column;
  }

  footer {
      flex-direction: column;
      gap: 5px;
  }
}
