footer{
        display: flex;
    a{
        color: #ECF0F1;
        justify-content: center;
        align-items: center;
        margin: 10px;
        display: flex;
        transition: 1s;
        &:hover{
            transform: translateY(-10px);
        }
        img{
            width: 20px;
        }
    }
}