*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #1E1E1E;
    color: #FFFFFF;
}
.nav-link{
    font-weight: bold;
    padding: 10px;
    transition: 1s;
    &:hover{
        background-color: black;
        color: white;
        transform: scale(1.1);
    }
}