* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background: linear-gradient(120deg, #1E1E1E, #333333); /* Fondo con gradiente */
    color: #FFFFFF; /* Texto blanco */
}

a {
    text-decoration: none; /* Sin subrayado */
    color: inherit; /* Hereda el color del texto */
}

.nav-link {
    font-weight: bold;
    padding: 10px;
    transition: 0.3s ease-in-out; /* Transición más rápida */
}

.nav-link:hover {
    background-color: black; /* Fondo negro */
    color: #FFCC00; /* Amarillo */
    transform: scale(1.1); /* Efecto de ampliación */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}
